<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
  stopOnError="true"
  stopOnFailure="true"
  stopOnIncomplete="true"
  stopOnSkipped="true"
  strict="true"
  syntaxCheck="true"
  verbose="true"
	>
	<testsuites>
    <testsuite>
      <directory prefix="test_" suffix=".php">./tests/REST</directory>
    </testsuite>
    <testsuite>
      <directory prefix="test_" suffix=".php">./tests/REST/Model</directory>
    </testsuite>
		<testsuite>
			<directory prefix="test_" suffix=".php">./tests/REST/Payload</directory>
		</testsuite>
    <testsuite>
      <directory prefix="test_" suffix=".php">./tests/REST/backend</directory>
    </testsuite>
	</testsuites>
</phpunit>
